div{background-color: blue;
width:100px ;
height:200px ;
margin:7px;}
#div1{background-color: brown;
margin-left: 150px;
margin-top:-205px ;}

#div2{background-color: blueviolet;
margin-left:300px;
margin-top:-1105px ;
}
